.array-container {
  transform: rotate(180deg);
  width: 100%;
}

.array-bar {
  width: 3px;
  display: inline-block;
  margin: 0 1px;
}

.sorting-visualizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.btn-group {
  display: flex;
  gap: 12px;
  align-items: center;
}
.btn-group button {
  border: none;
  padding: 10px;
  background-color: aqua;
  columns: #333;
  border-radius: 4px;
}
