.App {
  height: 100vh;
  width: 100%;
}

.visualizer-bars-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.navbar {
  width: 100%;
  background-color: #411530;
  color: #f5c7a9;
  padding: 24px;
  display: flex;
  align-items: center;
}

.navbar h2 {
  flex: 1;
}

.navbar__list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 24px;
}

.navbar__listItem {
  font-size: 18px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.2s;
}

.navbar__listItem:hover {
  color: #d1512d;
}
